In [1]:
import os
import sys
import glob
import pandas as pd
import numpy as np
from obspy import read
from obspy.core import UTCDateTime
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/banjo/Projects/nll_pnsn/NLLoc/util/brem_phaseCount.csv')

In [8]:
j = np.arange(0,289,1)

In [36]:
# d = df.loc[df['P'] >= df['P']]
d = df.loc[df['P'] <= 3]

In [37]:
len(d)

36

In [38]:
d

             id  P  S
0    10408683.0  0  2
6    10420498.0  2  4
9    10420653.0  1  4
13   10420858.0  1  3
18   10421023.0  1  1
19   10421043.0  1  1
25   10426208.0  2  5
28          NaN  0  0
33   10427033.0  3  0
34   10427068.0  2  8
36   10427138.0  1  4
37   10427313.0  2  6
38   10427413.0  1  2
42   10427958.0  1  6
44   10420163.0  2  6
47   10420973.0  3  1
49   10421013.0  3  0
52   10421583.0  2  7
53   10421938.0  3  5
62   10424158.0  3  3
65   10428528.0  3  2
72   10486933.0  1  2
73   10513863.0  3  1
79   10516413.0  1  1
84   10538928.0  3  2
85   10533688.0  2  2
91   10732828.0  2  2
96   10795018.0  3  4
97   10805873.0  3  3
118  61207181.0  2  3
119  61222212.0  3  4
135  60134208.0  3  5
141  60134308.0  3  3
210  61276847.0  3  5
220  61313286.0  3  4
238  61355832.0  2  3