# changing the order of the picks so they will be read in correctly by NLLocLib.c

In [1]:
import os
import sys
import glob
import pandas as pd
import numpy as np
from obspy import read
from obspy.core import UTCDateTime

In [2]:
path='/Users/banjo/Projects/nll_pnsn/NLLoc/util'
ifile='/pnsn_in_CVM.hypo'

In [3]:
datum = 0

In [4]:
# GOOD FOR ONE HYPO FILE
os.chdir(path)
ID=1
i=1
headers = []
PPicks = []
SPicks = []
MagPicks = []
evids = []
with open(path+ifile,'r') as fp:
    for line in fp.readlines():
        i=i+1
        if len(line) == 180:
            headers.append(line)
        elif len(line) == 121 or len(line)==120:            
            pha = line[14]
            if pha != ' ' and (line[11] == 'Z' or line[11] == '3'):
                PPicks.append([line])
            elif pha == 'P' and line[16] == '4':
                MagPicks.append(line)
            else:
                SPicks.append(line)
        else:
            evids.append(line)

In [5]:
# RUN THIS TO SORT A HYPOINVERSE FILE. 

# newHypo = np.concatenate([headers,PPicks,SPicks,MagPicks,evids])
# newHypo = np.concatenate([PPicks,SPicks])
# newHypo = str(newHypo)
# # bad_chars = ["\\n","'","[","]"]
# bad_chars = ["'[ ", "\\n", "']", "\\n","'","[","]"]


# for i in bad_chars:
#     newHypo = newHypo.replace(i,'')
    
# newHypo = newHypo.replace("\n ","\n")

# with open('/Users/banjo/Projects/nll_pnsn/PNSN_in_CVM_picks.out', 'w') as f:
#     f.write(newHypo.strip())
#     f.close()

## RUN EVERYTHING BELOW FOR A GTSRCE GENERATOR FOR THE FILE ABOVE.

In [6]:
stns = []
for i in range(len(PPicks)):
    stn = PPicks[i][0][0:5]
    if stn[3] == " ":
        stn = PPicks[i][0][0:3]
        stns.append(stn)
    elif stn[4] ==" ":
        stn = PPicks[i][0][0:4]
        stns.append(stn)
    else:
        stn = PPicks[i][0][0:5]
        stns.append(stn)
#     stns.append(stn)

In [7]:
stas = np.unique(stns)

In [8]:
path2 = '/Users/banjo/Projects/nll_pnsn/util/stationInfo'
df1 = pd.read_csv(path2 + '/pnsnStations_simple.list')
# df2 = pd.read_csv(path + '/p4_stations_for_test.list')
# sta = df1['sta'].values
# lat = df1['lat'].values
# lon = df1['lon'].values
# ele = (df1['ele'].values)/1000

In [9]:
def Diff(li1, li2):
    return (list(list(set(li1)-set(li2)) + list(set(li2)-set(li1))))
# Driver Code
li1 = stas
li2 = np.unique(df1['sta'].values)
diff = Diff(li1, li2)
# print(diff)

In [10]:
match_sta = []
match_lat =[]
match_lon=[]
match_ele=[]
# tmp = df2['sta'].values
tmp = stas

for i in range(len(tmp)):
    station = tmp[i]
    if station in diff:
        pass
    else:
#         print(station)
        match = df1.loc[df1['sta'] == station].values[0]
#         print(i,match)
        match_lat.append(match[3])
        match_lon.append(match[4])
        match_ele.append(match[5])
        match_sta.append(match[1])

In [11]:
match_lat

[47.31964,
 47.21402,
 48.24313,
 47.45086,
 47.569179999999996,
 47.85586,
 45.61097,
 48.719590000000004,
 46.6855,
 47.5699,
 48.7197,
 48.7201,
 48.9983,
 49.0983,
 49.048,
 48.9534,
 48.9752,
 39.275936,
 38.43014,
 34.84845,
 39.138126,
 47.559528,
 38.438957,
 38.94596,
 39.039947999999995,
 38.79221,
 46.194790000000005,
 38.854839,
 38.567101,
 49.27,
 47.6469,
 45.81944,
 47.5751,
 47.320240000000005,
 38.929131,
 44.381816,
 46.10881,
 43.998160999999996,
 38.614719,
 46.09946,
 38.877029,
 46.6576,
 38.686256,
 38.764992,
 35.1269,
 43.82056,
 46.759879999999995,
 46.20067,
 38.823795000000004,
 46.152592,
 48.23617,
 45.73595,
 39.024307,
 46.14465,
 48.04307,
 48.06236,
 48.201925,
 48.059549,
 48.0588,
 48.057577,
 48.649543,
 48.924627,
 47.813,
 47.5133,
 46.996,
 46.9795,
 46.6527,
 46.3827,
 45.954609999999995,
 46.1112,
 45.6378,
 45.309351,
 44.493666999999995,
 43.9713,
 43.6643,
 43.668,
 43.2917,
 42.503514,
 42.505833,
 41.8308,
 48.0575,
 48.2641,
 48.2641,
 48.5183,
 48.4607,
 48.3584,
 48.4226,
 46.3033,
 46.2447,
 46.169,
 46.136,
 48.8202,
 49.2188,
 48.8337,
 46.9868,
 47.8132,
 47.605831,
 44.621320000000004,
 43.0903,
 36.18042,
 36.64595,
 46.59943,
 52.1847,
 42.888149,
 49.27,
 45.01162,
 36.70962,
 35.18542,
 37.697497999999996,
 36.30648,
 46.23294,
 46.96804,
 45.5274,
 47.64006,
 44.1077,
 36.6648,
 39.8666,
 47.46031,
 36.66107,
 46.52,
 44.06673,
 48.264099,
 47.642021,
 47.642681,
 47.58448,
 47.92497,
 48.833599,
 46.48649,
 47.59733,
 47.59733,
 47.586459999999995,
 37.2995,
 47.836651,
 49.410301000000004,
 47.53966,
 36.54715,
 36.610981,
 44.29926,
 47.27458,
 46.197472,
 48.006624,
 44.6837,
 36.66645,
 48.5725,
 45.915,
 47.59583,
 44.852501000000004,
 36.66308,
 37.28367,
 47.52547,
 46.474831,
 46.476669,
 36.5734,
 44.65175,
 36.40713,
 47.05386,
 47.43846,
 47.755195,
 36.84505,
 44.26721,
 42.0767,
 47.30103,
 45.40155,
 46.48519,
 47.531864,
 36.776540000000004,
 36.38373,
 47.85133,
 36.667429999999996,
 49.4686,
 47.79122,
 44.197311,
 45.445889,
 42.27833,
 36.57489,
 46.810829999999996,
 36.74624,
 47.9475,
 47.7172,
 47.6947,
 47.923,
 47.9229,
 47.6902,
 47.8006,
 42.8365,
 37.163918,
 37.861323999999996,
 37.45035,
 37.34848,
 46.988319,
 37.574833,
 42.120899,
 50.0315,
 37.81647,
 47.80469,
 37.924091,
 37.259040999999996,
 46.5585,
 46.14158,
 37.551552,
 46.116890000000005,
 47.422259999999994,
 37.566502,
 37.645393,
 47.774640000000005,
 45.354440000000004,
 42.624559999999995,
 46.914333,
 45.59083,
 45.4865,
 43.750969,
 46.556599,
 47.72707,
 42.907745,
 37.738075,
 42.976139,
 42.922958,
 48.820301,
 37.359077,
 37.52024,
 46.93448,
 37.47752,
 46.435109999999995,
 37.627934,
 37.811035,
 37.35772,
 37.594978000000005,
 48.423519,
 46.62277,
 37.60795,
 45.8881,
 45.17044,
 43.39566,
 43.18757,
 44.585499,
 46.9257,
 37.50803,
 46.490829999999995,
 43.722012,
 37.949059999999996,
 46.97365,
 46.988131,
 43.55964,
 46.82486,
 35.2422,
 42.33917,
 37.912663,
 43.460640000000005,
 47.80124,
 37.72416,
 45.51678,
 37.95712,
 37.640583,
 47.6207,
 48.1427,
 37.618168,
 37.884,
 46.27917,
 48.0923,
 37.80787,
 47.1161,
 47.5347,
 47.1109,
 47.1786,
 47.1786,
 47.1881,
 47.1935,
 47.1936,
 47.0615,
 47.63821,
 47.8006,
 43.118721,
 46.4911,
 44.800364,
 43.240601,
 46.21233,
 42.86189,
 46.20067,
 47.10265,
 44.534938000000004,
 41.081299,
 46.206,
 48.423840000000006,
 47.717201,
 47.87052,
 43.697201,
 45.5678,
 47.98503,
 47.960359999999994,
 46.5459,
 46.5934,
 46.5566,
 46.5605,
 46.5433,
 46.5585,
 46.4911,
 47.7409,
 49.873001,
 46.19717,
 48.562020000000004,
 47.072342,
 46.30539,
 46.90951,
 45.855978,
 47.4941,
 42.43967,
 44.941204,
 47.356190000000005,
 47.3703,
 47.76056,
 48.42941,
 48.45384,
 47.237840000000006,
 46.534859999999995,
 46.57719,
 46.56342,
 49.3834,
 43.6409,
 46.464690000000004,
 47.65485,
 47.604549,
 46.39569,
 44.029202000000005,
 48.0075,
 47.8544,
 45.329890999999996,
 45.9306,
 45.9325,
 46.0829,
 45.8839,
 45.8852,
 45.7664,
 45.8951,
 45.7971,
 45.9734,
 44.86551,
 44.309740000000005,
 47.07563,
 44.33858,
 46.95178,
 47.72033,
 45.930599,
 45.92751,
 46.196220000000004,
 43.98809,
 46.18908,
 45.62444,
 42.453359999999996,
 46.941399,
 45.97039,
 47.947497999999996,
 48.33043,
 47.96902,
 47.57524,
 36.99167,
 44.212101000000004,
 34.87083,
 45.3153,
 45.2115,
 45.2059,
 45.2422,
 45.2422,
 45.2357,
 45.2664,
 45.2904,
 38.87274,
 39.65483,
 38.710682,
 46.60869,
 39.442429,
 38.81436,
 46.59819,
 39.14085,
 39.391335,
 38.773270000000004,
 38.769001,
 39.13081,
 38.76778,
 46.20556,
 49.7805,
 38.807774,
 38.764267,
 38.60597,
 39.04446,
 39.085312,
 47.041489,
 45.959571999999994,
 45.83679,
 45.838778999999995,
 46.557499,
 38.792866,
 38.96955,
 44.438959999999994,
 47.54773,
 47.548759999999994,
 47.564129,
 46.19719,
 49.0122,
 48.9495,
 42.27133,
 38.84498,
 48.117901,
 47.31237,
 47.67223,
 46.59921,
 47.14963,
 46.814029999999995,
 45.351079999999996,
 45.537665999999994,
 38.93867,
 38.86634,
 47.20388,
 38.9404,
 38.70205,
 47.551212,
 45.924011,
 44.6764,
 44.6765,
 44.6837,
 44.5234,
 44.6473,
 44.7344,
 44.5913,
 46.39555,
 45.476788,
 42.068979999999996,
 45.509029999999996,
 45.454436,
 47.58429,
 47.583765,
 46.392502,
 36.88446,
 43.844631,
 42.64079,
 36.93137,
 36.88752,
 36.95663,
 47.648309999999995,
 36.835152,
 45.32145,
 47.648309999999995,
 45.213501,
 36.9829,
 36.75354,
 37.09618,
 37.016998,
 46.17152,
 46.18291,
 47.390121,
 48.388059999999996,
 45.43523,
 36.81707,
 36.88462,
 36.601601,
 49.2745,
 49.2873,
 47.768609999999995,
 42.29625,
 42.243,
 47.76627,
 47.5654,
 47.35767,
 45.322262,
 49.3873,
 47.922901,
 36.918929999999996,
 37.05196,
 37.01923,
 43.525659999999995,
 37.11501,
 46.174279999999996,
 37.529835,
 47.80377,
 45.630675,
 42.6071,
 46.52482,
 44.119499,
 47.970348,
 44.119455,
 49.2655,
 44.573029,
 44.5732,
 44.567402,
 44.569117999999996,
 44.509781,
 44.0035,
 44.1059,
 44.1077,
 43.9726,
 43.6972,
 43.7941,
 44.1626,
 44.3386,
 43.9437,
 45.498032,
 44.0051,
 43.358,
 43.885589,
 44.082,
 43.1614,
 43.1615,
 43.3654,
 43.3717,
 43.2406,
 43.2405,
 43.2843,
 43.2848,
 43.2515,
 37.157759999999996,
 37.34305,
 37.127464,
 37.316994,
 45.46143,
 37.01815,
 37.111526,
 40.81745,
 37.51704,
 37.58831,
 48.195332,
 37.050540999999996,
 43.75157,
 44.73122,
 45.242199,
 37.10909,
 37.34449,
 46.1465,
 42.97768,
 37.262584999999994,
 37.79527,
 37.198364,
 37.03778,
 46.27527,
 37.054333,
 37.58225,
 37.67433,
 37.284290000000006,
 37.404587,
 37.283165000000004,
 37.212635,
 37.16949,
 37.20557,
 37.028459999999995,
 37.00103,
 46.147059999999996,
 42.8088,
 42.7667,
 42.6955,
 42.6133,
 42.6246,
 42.7258,
 42.7991,
 42.6912,
 46.730263,
 40.197128,
 39.892371999999995,
 42.212357,
 40.728972999999996,
 39.917187,
 47.5442,
 39.687332,
 40.426441,
 40.475567,
 47.595,
 47.59498,
 47.5952,
 42.872211,
 45.550059999999995,
 46.11569,
 45.235699,
 47.240742,
 47.369915999999996,
 42.25748,
 42.2225,
 40.758789,
 40.659901,
 40.659901,
 40.874493,
 40.874748,
 47.57718,
 47.574799,
 47.50267,
 47.752022,
 46.62028,
 47.675201,
 40.145794,
 45.635329999999996,
 40.417511,
 46.16288,
 42.13947,
 47.380520000000004,
 47.38472,
 42.13889,
 41.278717,
 46.462799,
 39.5835,
 45.885201,
 41.522068,
 41.522957,
 41.157654,
 42.344109,
 39.518253,
 41.830833,
 41.830379,
 41.908474,
 44.69453,
 43.752399,
 42.156,
 42.1578,
 42.158,
 42.120899,
 42.175,
 42.218,
 42.0472,
 42.0187,
 42.26758,
 40.427452,
 43.161499,
 43.576449,
 41.609867,
 41.610001000000004,
 44.051569,
 41.59935,
 47.656940000000006,
 47.03648,
 40.836742,
 41.34706,
 41.168834999999994,
 45.838001,
 45.2059,
 40.486183000000004,
 47.444859,
 46.67049,
 46.662819,
 44.1246,
 46.5459,
 47.767227,
 45.5893,
 45.451552,
 41.334183,
 41.59932,
 40.804297999999996,
 41.628582,
 40.432987,
 44.852774,
 42.225681,
 42.21497,
 41.274158,
 41.487970000000004,
 46.66783,
 45.871761,
 46.7506,
 46.71686,
 45.67615,
 45.06207,
 46.750599,
 44.846897,
 41.193829,
 43.68081,
 41.455259999999996,
 48.057499,
 40.65817,
 40.792942,
 40.426987,
 40.279812,
 45.359609999999996,
 41.176097999999996,
 41.605499,
 47.254509000000006,
 38.052334,
 48.7201,
 46.065948,
 40.039371,
 46.2778,
 47.82555,
 48.53517,
 41.392,
 41.7826,
 47.2467,
 47.99456,
 46.951103,
 45.19041,
 35.0026,
 45.065917,
 47.66195,
 46.14456,
 45.1762,
 48.783840000000005,
 36.74538,
 48.916377000000004,
 37.684986,
 47.89835,
 37.55973,
 48.78407,
 37.54805,
 37.590321,
 47.050779999999996,
 44.827671,
 37.65487,
 37.97316,
 48.679001,
 37.632462,
 46.20033,
 46.613021999999994,
 47.622593,
 46.266090000000005,
 47.201759,
 37.42931,
 45.90286,
 48.9999,
 39.81183,
 37.813332,
 37.62642,
 48.999699,
 45.3975,
 46.88221,
 42.40825,
 46.197319,
 46.23761,
 46.19775,
 40.34601,
 45.211498,
 46.557362,
 48.3707,
 37.612109999999994,
 37.67855,
 37.72803,
 37.593834,
 38.091384999999995,
 37.41962,
 37.655998,
 37.60971,
 37.63038,
 37.37604,
 52.1976,
 38.145728999999996,
 47.565028999999996,
 41.90246,
 37.491665000000005,
 45.9942,
 44.853429999999996,
 44.05155,
 47.61665,
 45.474312,
 42.38564,
 47.84618,
 46.577179,
 37.899570000000004,
 39.29567,
 47.468609,
 44.021809000000005,
 44.50428,
 37.80431,
 48.518299,
 37.67374,
 37.598009999999995,
 38.245166999999995,
 36.28628,
 44.800388,
 47.592459999999996,
 37.510666,
 47.641971999999996,
 37.652885,
 37.61672,
 37.903996,
 46.02533,
 37.353159999999995,
 46.17669,
 46.83912,
 37.16832,
 34.223620000000004,
 37.38349,
 40.974,
 49.2221,
 46.73301,
 38.45994,
 46.495682,
 38.438164,
 43.7941,
 45.72615,
 38.66815,
 38.261005,
 47.762299,
 48.670536,
 47.973675,
 38.321144,
 43.70384,
 38.78587,
 38.765440000000005,
 46.200249,
 48.078072,
 48.264198,
 44.62392,
 37.698334,
 38.522690000000004,
 38.280666,
 38.049620000000004,
 38.15486,
 47.741199,
 38.561607,
 46.85712,
 49.2271,
 38.152599,
 46.089240999999994,
 47.391701,
 38.59095,
 47.44539,
 38.669369,
 38.07601,
 47.432652000000004,
 38.80577,
 38.55035,
 43.72074,
 43.7183,
 43.73317,
 43.70385,
 43.71117,
 47.63973,
 38.040259999999996,
 45.21157,
 43.73896,
 47.686298,
 38.64269,
 38.530559999999994,
 38.51985,
 46.20094,
 37.923054,
 38.247409999999995,
 38.389133,
 38.41559,
 38.376265999999994,
 46.20917,
 47.5541,
 38.457073,
 48.307970000000005,
 48.035109999999996,
 47.32606,
 46.899719,
 46.952473,
 39.524242,
 48.297874,
 39.867934999999996,
 47.74897,
 47.60814,
 47.748901000000004,
 47.38754,
 47.30653,
 48.12938,
 47.9498,
 47.93313,
 47.332619,
 48.323159999999994,
 47.51595,
 47.513248,
 48.3584,
 48.48021,
 46.88058,
 44.51466,
 46.8769,
 47.734140000000004,
 47.749190000000006,
 48.10009,
 46.731319,
 39.468891,
 37.635334,
 39.554745000000004,
 39.55451,
 47.81624,
 47.23553,
 48.286648,
 48.28464,
 47.50545,
 39.37106,
 46.7192,
 46.668861,
 46.738859999999995,
 44.296735999999996,
 48.086366999999996,
 44.73429,
 48.961,
 48.16812,
 48.06236,
 35.157284000000004,
 49.2188,
 47.212779,
 35.640049,
 35.732487,
 46.84132,
 45.358574,
 39.449,
 35.78006,
 46.859032,
 35.89585,
 46.786442,
 48.998298999999996,
 45.88185,
 45.88362,
 47.192840000000004,
 35.1614,
 35.39445,
 35.57912,
 35.5485,
 36.31667,
 35.931490000000004,
 35.518370000000004,
 47.111599,
 46.990547,
 46.88896,
 36.093887,
 46.574313000000004,
 45.61185,
 45.32845,
 45.04092,
 44.052175,
 45.46351,
 45.510696,
 45.590009,
 45.491529,
 45.544686,
 45.508594,
 48.574699,
 48.6498,
 35.83076,
 45.461617,
 47.821709999999996,
 50.7067,
 45.8951,
 45.61867,
 35.980540000000005,
 36.373020000000004,
 35.823799,
 48.818329999999996,
 47.6327,
 47.5835,
 43.811001,
 43.79211,
 35.5544,
 36.06103,
 34.895559999999996,
 35.26383,
 42.46083,
 48.54752,
 47.78451,
 50.5188,
 35.72522,
 35.429794,
 34.89472,
 35.95633,
 47.58162,
 49.3224,
 35.738907,
 35.26097,
 35.949669,
 35.86264,
 36.10913,
 46.910109999999996,
 46.918304,
 46.903434999999995,
 46.929771,
 46.841724,
 44.2796,
 48.21172,
 44.209751000000004,
 46.212521,
 47.56498,
 47.56498,
 36.02466,
 47.620059999999995,
 36.06881,
 47.562729,
 47.61926,
 35.39247,
 34.58187,
 35.65415,
 48.544201,
 48.652599,
 46.495419,
 47.38384,
 35.92207,
 35.8145,
 47.6728,
 45.52561,
 47.6403,
 47.63157,
 47.65059,
 47.29793,
 47.72215,
 47.69325,
 47.62231,
 48.07397,
 47.52796,
 48.230979999999995,
 48.10002,
 47.28638,
 47.61823,
 48.34024,
 47.65514,
 45.4408,
 47.584140000000005,
 45.5227,
 47.50655,
 ...]

In [12]:
df = pd.DataFrame(list(zip(match_sta,match_lat,match_lon,match_ele)),columns = ['Station','Lat','Lon','Elev'])

In [13]:
df.drop_duplicates()

     Station        Lat        Lon  Elev
0       2193  47.319640 -122.58598    94
1       2194  47.214020 -123.10099     6
2       7026  48.243130 -122.45464    10
3       7030  47.450860 -122.30219   124
4       7034  47.569180 -122.62716    10
...      ...        ...        ...   ...
1376     YBH  41.731930 -122.71038  1059
1377     YEG  35.436580 -119.96009   907
1378     YEL  46.209550 -122.18899  1750
1379    YOCR  45.379178 -121.74354  1913
1380     YPT  46.048580 -118.96329   340

[1381 rows x 4 columns]

In [14]:
srcs = []
descriptor = []
zeros = []
lats = []
lons = []
elvs = []
names=[]
for i in range(len(match_lat)):
    lat = match_lat[i]
    lat = '%7.4f' %lat
    lon = match_lon[i]
    lon = '%7.4f' %lon
    ele = match_ele[i]/1000
    ele = '%6.2f' %ele
    name = match_sta[i]
    name = '%5s' %name
    name = str(name)
    srcs.append('GTSRCE')
    descriptor.append('LATLON')
    zeros.append('0.0')
    lats.append(lat)
    names.append(name)
    lons.append(lon)
    elvs.append(ele)

In [15]:
df = pd.DataFrame(list(zip(srcs,names,descriptor,lats,lons,zeros,elvs)),columns = ['Source','Station','Descriptor','Lat','Lon','Zeros','Elev'])

In [16]:
df = df.drop_duplicates()

In [18]:
df.to_csv('/Users/banjo/Projects/nll_pnsn/NLLoc/util/pnsn_in_CVM_gtsrce.list',index=0,header = False,sep =' ')

In [17]:
df

      Source Station Descriptor      Lat        Lon Zeros    Elev
0     GTSRCE    2193     LATLON  47.3196  -122.5860   0.0    0.09
1     GTSRCE    2194     LATLON  47.2140  -123.1010   0.0    0.01
2     GTSRCE    7026     LATLON  48.2431  -122.4546   0.0    0.01
3     GTSRCE    7030     LATLON  47.4509  -122.3022   0.0    0.12
4     GTSRCE    7034     LATLON  47.5692  -122.6272   0.0    0.01
...      ...     ...        ...      ...        ...   ...     ...
1376  GTSRCE     YBH     LATLON  41.7319  -122.7104   0.0    1.06
1377  GTSRCE     YEG     LATLON  35.4366  -119.9601   0.0    0.91
1378  GTSRCE     YEL     LATLON  46.2096  -122.1890   0.0    1.75
1379  GTSRCE    YOCR     LATLON  45.3792  -121.7435   0.0    1.91
1380  GTSRCE     YPT     LATLON  46.0486  -118.9633   0.0    0.34

[1381 rows x 7 columns]

In [19]:
diff

['GTS',
 'LCM',
 'LGP',
 'GWK',
 'GWR',
 'LRB',
 'GNA',
 'MCM',
 'KFP',
 'KCS',
 'LTC',
 'ABJ',
 'MEM',
 'SND',
 'LDB',
 'KIP',
 'GHM',
 'KJJ',
 'BOOK',
 'ORCA',
 'AOH',
 'KRK',
 'OGO',
 'COOM',
 'KSM',
 'BUT',
 'KPP',
 'LRR',
 'NBND',
 'GHL',
 'LMH',
 'HRY',
 'GAR',
 'KUHN',
 'LWH',
 'LRM',
 'OWY',
 'LBP',
 'LBK',
 'LME',
 'BRUIN',
 'SXM',
 'WIKI',
 'BGMT',
 'HBMT',
 'POC',
 'LSR',
 'GTWY',
 'LPG',
 'LRD',
 'CPI',
 'GHG',
 '7036',
 'DI2B',
 'AXEC3',
 'BBBB',
 '2172',
 'SOPS',
 'TPOR',
 'QPJE',
 'WIXX',
 'MOBC',
 'EAA',
 'H09A',
 '2161',
 'BNAB',
 'O02D',
 'LGOR',
 'GRUT',
 'PTD',
 'SNI2',
 '7028',
 'BDID',
 'AXBA1',
 'MID',
 'BLMT',
 'GUAC',
 'KEMF',
 'KCO',
 'SPK1',
 'EEA',
 'J10A',
 'UGAP3',
 'KCPB',
 '7037',
 'WEL1',
 'AXCC1',
 'MAYB',
 'H08A',
 '7033',
 'SFER',
 'IRG',
 'KMR',
 'KFO',
 'MYRA',
 'AXAS1',
 '2222',
 'NDB',
 'RCV',
 '7206',
 'HER',
 '7039',
 'DI2',
 'QEWU',
 'ECA',
 '7027',
 'G11A',
 'H3A',
 'L09A',
 'F09A',
 'EWN',
 'NCRB',
 'QDNP',
 'HLID',
 'I08A',
 'I10A',
 'HOLB',
 'H10A',
 '7009',
 'RMHA',
 'SPK4',
 '2130',
 'SJB',
 'C10A',
 'EWY',
 'PCLB',
 'QWER',
 'NIKE',
 'KEMO',
 'K09A',
 '7041',
 'SPK2',
 'GCK',
 'LGO',
 '7032',
 'UGP4',
 'TBID',
 '7000',
 'HPO',
 'BPEB',
 'PNO',
 'LIME',
 'BRW',
 'LTH',
 'SPK3',
 'SPLB',
 'BURN',
 'HG1B',
 'TIM',
 'SHLY',
 'KMPB',
 'QWSU',
 'D08A',
 'K08A',
 'NCHR',
 '7044',
 'K10A',
 'QGLD',
 'JEDB',
 'SIG',
 '7010',
 'WIA',
 'TID',
 'AAB',
 '7038',
 'HGBL',
 '7054',
 'WWHS',
 'BRAN',
 'UGAP2',
 'SPK5',
 'H11A',
 'HWK2',
 'SPVI',
 'WPI',
 'H4A',
 'SNIO',
 'SPUD',
 'AXEC1',
 'C08A',
 'HBM',
 'CHA',
 'QZOE',
 'EWD',
 'QSKF',
 'VCMT',
 'AXAS2',
 'LVRI',
 'HMET',
 'BRK',
 'PID',
 'G09A',
 'UGAP1',
 '2181',
 'QCEN',
 'WEL2',
 'J07A',
 'I09A',
 'LSI',
 'L08A',
 'DIB',
 'LIGO',
 'ENWF',
 'ENT',
 'J08A',
 'GNR',
 'QPID',
 'I11A',
 'MKMT',
 'UNK',
 'SCB',
 'LOST',
 'MERL',
 'HWIW',
 'EDA',
 'NTKA',
 'VIC',
 'LDM',
 'H2W',
 'CRW',
 'BMN',
 'JTMT',
 '7035',
 'LTM',
 'D10A',
 'J09A',
 '2191',
 'HPOR',
 'LLLB',
 'RED2',
 'SHIP',
 'WHKI',
 'CARM',
 'WES',
 'EWC',
 '7046',
 'QSRV',
 'LFI',
 'GHNB',
 'GASB',
 'E09A',
 'DAYS',
 'SRVR',
 'CARP',
 'PACB',
 'BAIB',
 'NCSB',
 'JAZZ',
 'SWES',
 'SOA',
 '7029',
 'H1K',
 'AXEC2',
 'BAT',
 'COLR',
 'TPO',
 'WDC',
 'J11A',
 'FTW',
 'AXID1',
 'I07A',
 'COL',
 'STP',
 '2123',
 'H2E',
 'BOLM',
 'MURR',
 'EAB',
 '7031',
 'EWH',
 'A10A',
 'BOGA',
 'UGAP6',
 'SGAR']

In [20]:
len(diff)

274

In [ ]:
# WORKING ON MULTIPLE OBSERVATIONS IN ONE FILE VVVVV
os.chdir(path)
ID=1
i=1
events = []
headers = []
PPicks = []
SPicks = []
MagPicks = []
evids = []
with open(path+ifile,'r') as fp:
    for line in fp.readlines():
        if len(line) == 180:
            print(line)
            headers.append([line])
        elif:
            len(line) == 121 or len(line)==120   
#             print(line)
            pha = line[14]
            spha = line[47]
            if pha != ' ' and (line[11] == 'Z' or line[11] == '3'):
                PPicks.append(line)
            elif pha == 'P' and line[16] == '4':
                MagPicks.append(line)
            elif spha == 'S':
                SPicks.append(line)
        else:
            evids.append(line)
#         else:
            events.append([headers,PPicks,SPicks,MagPicks,evids])
#             print ("End line for eq. %s: %d'%(EVID,i-1)")

In [ ]:
events

In [ ]:
PPicks

In [ ]:
# newHypo = np.concatenate([headers,PPicks,SPicks,MagPicks,evids])
# newHypo = str(newHypo)
# # bad_chars = ["\\n","'","[","]"]
# bad_chars = ["'[ ", "\\n", "']", "\\n","'","[","]"]


# for i in bad_chars:
#     newHypo = newHypo.replace(i,'')
    
# newHypo = newHypo.replace("\n ","\n")

# with open('/Users/banjo/Projects/nll_pnsn/NLLoc/util/multiple_test.hypo', 'w') as f:
#     f.write(newHypo.strip())
#     f.close()

In [ ]:
bad_chars = ["\\n","'","[","]"]
# bad_chars = ["'[ ", "\\n", "']", "\\n","'","[","]"]
for i in bad_chars :
#     j = str(j)
    j = j.replace(i,'')

In [ ]:
j = j.strip()

In [ ]:
with open('/Users/banjo/Projects/nll_pnsn/test.hypo', 'w') as f:
    f.write(j)
    f.close()

In [ ]:
j = j.replace("\n ","\n")

In [ ]:
j

In [ ]:
# headers
PPicks

In [ ]:
os.chdir(path)
ID=1
i=1
column = ['event'] #,'TIME','LAT','LON','DEP','MAG','MTYPE','EH','EZ','RMS','EVID']
# stacol = ['NET','STA','CHAN']
eveinfo = pd.DataFrame(columns=column)
# nets = []
# stas = []
# chan =[]
stainfo = ['pick'] #,'ARR','ABSA','WEI','PHA','MOT','ON','DIR']
#     stainfo = ['STA','ARR','PHA']
# stainfo = ['EVID','STA','ARR','PHA']

tempsta = pd.DataFrame(columns = stainfo)
arrinfo = []
with open(path+ifile,'r') as fp:
    for line in fp.readlines():
        i=i+1
        if len(line) == 180:
#             year = line[0:4]
#             month = line[4:6]
#             day = line[6:8]
#             hour = line[8:10]
#             minu = line[10:12]
#             sec = line[12:16][:-2]+'.'+line[12:16][-2:]
#             ddir = year+'.'+month+'.'+day+'.'+hour+'.'+minu+'.'+line[12:16][:-2]
#             EVID= line[136:146].strip()
#             time = year+'-'+month+'-'+day+'T'+hour+':'+minu+':'+sec
#             time = UTCDateTime(time)
#             lat = float(line[16:18]) + float(line[19:23][:-2]+'.'+line[19:23][-2:].replace(' ','0'))/60.0
#             lon = -(float(line[23:26]) + float(line[27:31][:-2]+'.'+line[27:31][-2:].replace(' ','0'))/60.0)
#             dep = line[31:36]
#             if dep[-2]=='-':
#                 dep = dep[:-1]+'.0'+dep[-1:]
#             else:
#                 dep = (dep[:-2]+'.'+dep[-2:].replace(' ','0'))
#             dep = float(dep)+datum
#             rms = float((line[48:52][:-2]+'.'+line[48:52][-2:]).replace(' ','0'))
#             eh = float((line[85:89][:-2]+'.'+line[85:89][-2:]).replace(' ','0'))
#             ez = float((line[89:93][:-2]+'.'+line[89:93][-2:]).replace(' ','0'))
#             mc = line[70:73].strip()
#             mtype = line[122]
#             if len(mc)!= 0 and mc[0]=='-':
#                 mag = float(mc[:2]+'.'+mc[-1])
#             elif len(mc)!=0 and mc[0]!='-':
#                 mag = float(mc[:-2]+'.'+mc[-2:])
#             else:
#                 mag = -5 #coda magnitude
            newRow = {'event':line}
#             newRow = {'ID':int(ID),'TIME':time,'LAT':lat,'LON':lon,'DEP':dep,
#                       'MAG':mag,'MTYPE':mtype,'EH':eh,'EZ':ez,
#                       'RMS':rms,'EVID':EVID,'DIR':ddir}
            eveinfo = eveinfo.append(newRow,ignore_index=True)
            tempsta = tempsta.sort_values(by='pick')
            arrinfo.append(tempsta)
            tempsta = pd.DataFrame(columns = stainfo)
            ID=ID+1
        elif len(line) == 121 or len(line)==120: 
#             print(line)
            pha = line[14]
            spha = line[47]
            if pha != ' ' and (line[11] == 'Z' or line[11] == '3'):
                newStap = {'pick':line}
                tempsta = tempsta.append(newStap,ignore_index=True)
#                 PPicks.append(line)
            elif pha == 'P' and line[16] == '4':
                newStam = {'pick':line}
#                 MagPicks.append(line)
                tempsta = tempsta.append(newStam,ignore_index=True)
            elif spha == 'S':
                newStas = {'pick':line}
#                 SPicks.append(line)
                tempsta = tempsta.append(newStas,ignore_index=True)
            else:
                lastRow={'evid':line}
#             evids.append(line)
                tempsta = tempsta.append(lastRow,ignore_index=True)
            
            
#             sta = line[:5].strip()
#             if sta not in stas:
#                 stas.append(sta)
#                 nets.append(line[5:7].strip())
#                 chan.append(line[9:12])
            
#             #pull out the P phase
#             pha = line[14]
#             mot = line[15]
#             onset = line[13]
#             if pha != ' ' and (line[11] == 'Z' or line[11] == '3'):
#                 arryear = line[17:21]
#                 arrmonth = line[21:23]
#                 arrday = line[23:25]
#                 arrhour = line[25:27]
#                 arrmin = line[27:29]
#                 arrsec = (line[30:34][:-2]+'.'+line[30:34][-2:]).replace(' ','0')
#                 if float(arrsec) >= 60.0:
#                     arrsec = float(arrsec)-60.0
#                     arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+str(arrsec)
#                     arrtime = UTCDateTime(arrtime)+60.0
#                 else:
#                     arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+arrsec
#                     arrtime = UTCDateTime(arrtime)
#                 PTT = arrtime - time
#                 pweight = int(line[16])
#                 rpw = pweight
#                 newStap = {'pick':line} #,'STA':sta,'ARR':PTT,'PHA':pha}
#                     # newStap = {'STA':sta,'WEI':rpw,'ARR':PTT,'PHA':pha,'ABSA':arrtime,'MOT':mot,'ON':onset}
#                 tempsta = tempsta.append(newStap,ignore_index=True)

    
#             else:
#                  print ('Not avaliable P phase, not use in here')
#             spha = line[47]
#             if spha == 'S':
#                 arryear = line[17:21]
#                 arrmonth = line[21:23]
#                 arrday = line[23:25]
#                 arrhour = line[25:27]
#                 arrmin = line[27:29]
#                 arrsec = (line[42:46][:-2]+'.'+line[42:46][-2:]).replace(' ','0')
#                 if float(arrsec) >= 60:
#                     arrsec = float(arrsec)-60.0
#                     arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+str(arrsec)
#                     arrtime = UTCDateTime(arrtime)+60.0
#                 else:
#                     arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+arrsec
#                     arrtime = UTCDateTime(arrtime)
#                 STT = arrtime - time
#                 if STT < 0.0:
#                     print ("i-1")
#                     sys.exit('origin time %s and arrival time %s'%(time,arrtime))
#                 swei = int(line[49])
#                 rsw = swei
#                 newStas = {'EVID':EVID,'STA':sta,'ARR':STT,'PHA':spha}
#                     # newStas = {'STA':sta,'WEI':rsw,'ARR':STT,'PHA':spha,'ABSA':arrtime}
#                 tempsta = tempsta.append(newStas,ignore_index=True)

#         else:
#             print ("End line for eq. %s: %d'%(EVID,i-1)")

arrinfo.append(tempsta)
arrinfo.pop(0)
# arrdf = pd.DataFrame(arrinfo)
eveinfo['pick']=arrinfo
# stainfos = pd.DataFrame(np.transpose([nets,stas,chan]),columns=stacol)

# print(stainfos)
# print(arrinfo)

In [ ]:
evid_1 = [arrinfo[0]]

In [ ]:
evid_1

In [ ]:
print(eveinfo.event[0], eveinfo.pick[0])

In [ ]:
print(str(eveinfo.pick[0]))

In [ ]:
os.chdir(path)
ID=1
i=1
column = ['ID','TIME','LAT','LON','DEP','MAG','MTYPE','EH','EZ','RMS','EVID']
stacol = ['NET','STA','CHAN']
eveinfo = pd.DataFrame(columns=column)
nets = []
stas = []
chan =[]
stainfo = ['STA','ARR','ABSA','WEI','PHA','MOT','ON','DIR']
#     stainfo = ['STA','ARR','PHA']
# stainfo = ['EVID','STA','ARR','PHA']

tempsta = pd.DataFrame(columns = stainfo)
arrinfo = []
with open(path+ifile,'r') as fp:
    for line in fp.readlines():
        i=i+1
        if len(line) == 180:
            year = line[0:4]
            month = line[4:6]
            day = line[6:8]
            hour = line[8:10]
            minu = line[10:12]
            sec = line[12:16][:-2]+'.'+line[12:16][-2:]
            ddir = year+'.'+month+'.'+day+'.'+hour+'.'+minu+'.'+line[12:16][:-2]
            EVID= line[136:146].strip()
            time = year+'-'+month+'-'+day+'T'+hour+':'+minu+':'+sec
            time = UTCDateTime(time)
            lat = float(line[16:18]) + float(line[19:23][:-2]+'.'+line[19:23][-2:].replace(' ','0'))/60.0
            lon = -(float(line[23:26]) + float(line[27:31][:-2]+'.'+line[27:31][-2:].replace(' ','0'))/60.0)
            dep = line[31:36]
            if dep[-2]=='-':
                dep = dep[:-1]+'.0'+dep[-1:]
            else:
                dep = (dep[:-2]+'.'+dep[-2:].replace(' ','0'))
            dep = float(dep)+datum
            rms = float((line[48:52][:-2]+'.'+line[48:52][-2:]).replace(' ','0'))
            eh = float((line[85:89][:-2]+'.'+line[85:89][-2:]).replace(' ','0'))
            ez = float((line[89:93][:-2]+'.'+line[89:93][-2:]).replace(' ','0'))
            mc = line[70:73].strip()
            mtype = line[122]
            if len(mc)!= 0 and mc[0]=='-':
                mag = float(mc[:2]+'.'+mc[-1])
            elif len(mc)!=0 and mc[0]!='-':
                mag = float(mc[:-2]+'.'+mc[-2:])
            else:
                mag = -5 #coda magnitude
            newRow = {'ID':int(ID),'TIME':time,'LAT':lat,'LON':lon,'DEP':dep,
                      'MAG':mag,'MTYPE':mtype,'EH':eh,'EZ':ez,
                      'RMS':rms,'EVID':EVID,'DIR':ddir}
            eveinfo = eveinfo.append(newRow,ignore_index=True)
            tempsta = tempsta.sort_values(by='ARR')
            arrinfo.append(tempsta)
            tempsta = pd.DataFrame(columns = stainfo)
            ID=ID+1
        elif len(line) == 121 or len(line)==120:
            sta = line[:5].strip()
            if sta not in stas:
                stas.append(sta)
                nets.append(line[5:7].strip())
                chan.append(line[9:12])
            
            #pull out the P phase
            pha = line[14]
            mot = line[15]
            onset = line[13]
            if pha != ' ' and (line[11] == 'Z' or line[11] == '3'):
                arryear = line[17:21]
                arrmonth = line[21:23]
                arrday = line[23:25]
                arrhour = line[25:27]
                arrmin = line[27:29]
                arrsec = (line[30:34][:-2]+'.'+line[30:34][-2:]).replace(' ','0')
                if float(arrsec) >= 60.0:
                    arrsec = float(arrsec)-60.0
                    arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+str(arrsec)
                    arrtime = UTCDateTime(arrtime)+60.0
                else:
                    arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+arrsec
                    arrtime = UTCDateTime(arrtime)
                PTT = arrtime - time
                pweight = int(line[16])
                rpw = pweight
                newStap = {'EVID':EVID,'STA':sta,'ARR':PTT,'PHA':pha}
                    # newStap = {'STA':sta,'WEI':rpw,'ARR':PTT,'PHA':pha,'ABSA':arrtime,'MOT':mot,'ON':onset}
                tempsta = tempsta.append(newStap,ignore_index=True)

    
            else:
                 print ('Not avaliable P phase, not use in here')
            spha = line[47]
            if spha == 'S':
                arryear = line[17:21]
                arrmonth = line[21:23]
                arrday = line[23:25]
                arrhour = line[25:27]
                arrmin = line[27:29]
                arrsec = (line[42:46][:-2]+'.'+line[42:46][-2:]).replace(' ','0')
                if float(arrsec) >= 60:
                    arrsec = float(arrsec)-60.0
                    arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+str(arrsec)
                    arrtime = UTCDateTime(arrtime)+60.0
                else:
                    arrtime = arryear+'-'+arrmonth+'-'+arrday+'T'+arrhour+':'+arrmin+':'+arrsec
                    arrtime = UTCDateTime(arrtime)
                STT = arrtime - time
                if STT < 0.0:
                    print ("i-1")
                    sys.exit('origin time %s and arrival time %s'%(time,arrtime))
                swei = int(line[49])
                rsw = swei
                newStas = {'EVID':EVID,'STA':sta,'ARR':STT,'PHA':spha}
                    # newStas = {'STA':sta,'WEI':rsw,'ARR':STT,'PHA':spha,'ABSA':arrtime}
                tempsta = tempsta.append(newStas,ignore_index=True)

        else:
            print ("End line for eq. %s: %d'%(EVID,i-1)")

arrinfo.append(tempsta)

arrinfo.pop(0)
# arrdf = pd.DataFrame(arrinfo)
eveinfo['ARR']=arrinfo
#     test = 
stainfos = pd.DataFrame(np.transpose([nets,stas,chan]),columns=stacol)

# print(stainfos)
# print(arrinfo)

In [ ]:
arrinfo

In [ ]:
eveinfo

In [ ]:
eveinfo.ARR[0]

In [ ]:
# stainfos.to_csv(stn_file,sep = ' ' ,index = 0)

In [ ]:
eveinfo

In [ ]:
arrinfo

In [ ]:
# arrinfo.to_csv('p4_test_phaseArrivals.csv', index = 0)

In [ ]:
ard = np.array(arrinfo)
ard1 = ard[0]
print(len(ard1))

In [ ]:
stns = []
tts= []
phas=[]
for i in range(len(ard1)):
    station = ard1[i][1]
    tt = ard1[i][2]
    pha = ard1[i][3]
    stns.append(station)
    tts.append(tt)
    phas.append(pha)

In [ ]:
dfa = pd.DataFrame(list(zip(stns,tts,phas)),columns = ['sta','arr','pha'])

In [ ]:
dfa.sort_values('pha')

In [ ]:
stainfos

In [ ]:
stations = np.unique(stainfos['STA'].values)

In [ ]:
df2 = pd.DataFrame(stations, columns =['stn'])

In [ ]:
# for i in range(len(stations)):
#     sta = stations[i]
#     stainfo 
#     print(sta)

In [ ]:
path2 = '/Users/banjo/Projects/nll_pnsn/util/stationInfo'
df1 = pd.read_csv(path2 + '/pnsnStations_simple.list')
# df2 = pd.read_csv(path + '/p4_stations_for_test.list')

In [ ]:
match_sta = []
match_lat =[]
match_lon=[]
match_ele=[]
tmp = df2['stn'].values
for i in range(len(tmp)):
    station = tmp[i]
    match = df1.loc[df1['sta']==station].values[0]
    match_lat.append(match[3])
    match_lon.append(match[4])
    match_ele.append(match[5])
    match_sta.append(match[1])

In [ ]:
df = pd.DataFrame(list(zip(match_sta,match_lat,match_lon,match_ele)),columns = ['Station','Lat','Lon','Elev'])

In [ ]:
df.drop_duplicates()

In [ ]:
srcs = []
descriptor = []
zeros = []
lats = []
lons = []
elvs = []
names=[]
for i in range(len(match_lat)):
    lat = match_lat[i]
    lat = '%5.2f' %lat
    lon = match_lon[i]
    lon = '%5.2f' %lon
    ele = match_ele[i]/1000
    ele = '%6.2f' %ele
    name = match_sta[i]
    name = '%5s' %name
    name = str(name)
    srcs.append('GTSRCE')
    descriptor.append('LATLON')
    zeros.append('0.0')
    lats.append(lat)
    names.append(name)
    lons.append(lon)
    elvs.append(ele)

In [ ]:
df = pd.DataFrame(list(zip(srcs,names,descriptor,lats,lons,zeros,elvs)),columns = ['Source','Station','Descriptor','Lat','Lon','Zeros','Elev'])

In [ ]:
df = df.drop_duplicates()

In [ ]:
# df

In [ ]:
df.to_csv(g2t_stn_list4plot,index=0)

In [ ]:
df

In [ ]:
df.to_csv(g2t_stn_list,sep =' ',index=0,header=False)

In [ ]:
# df